<app-view header="Users" class="h-full">
  <div class="h-full w-full overflow-x-auto">
    <p-table
      class="h-full min-w-full rounded-lg shadow-lg"
      [value]="(filledUsers$ | async) ?? []"
      [paginator]="true"
      [rows]="10"
      [rowsPerPageOptions]="[10, 20, 50, 100]"
      [scrollable]="true"
      scrollHeight="flex"
      styleClass="p-datatable-striped p-datatable-gridlines"
    >
      <ng-template pTemplate="header">
        <tr class="bg-gray-100">
          <th class="px-4 py-3 text-left font-semibold text-gray-700">Name</th>
          <th class="px-4 py-3 text-left font-semibold text-gray-700">Email</th>
          <th class="px-4 py-3 text-left font-semibold text-gray-700">
            Email Verified
          </th>
          <th class="px-4 py-3 text-left font-semibold text-gray-700">
            Created At
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-user>
        <tr
          class="transition hover:bg-blue-50"
          [ngClass]="{ 'opacity-50': user.isPlaceholder }"
        >
          <td class="px-4 py-2">
            <ng-container *ngIf="!user.isPlaceholder; else emptyCell">
              <a
                class="font-medium text-blue-600"
                [routerLink]="['/admin/user', user.$id]"
                [state]="{
                  user: user,
                }"
              >
                {{ user.user_metadata.name }}
              </a>
            </ng-container>
            <ng-template #emptyCell>&nbsp;</ng-template>
          </td>
          <td class="px-4 py-2">{{ user.email }}</td>
          <td class="px-4 py-2">
            <ng-container *ngIf="user.emailVerification === true">
              <p-badge
                value="Yes"
                severity="success"
                styleClass="text-xs px-2 py-1"
              ></p-badge>
            </ng-container>
            <ng-container *ngIf="user.emailVerification === false">
              <p-badge
                value="No"
                severity="danger"
                styleClass="text-xs px-2 py-1"
              ></p-badge>
            </ng-container>
          </td>
          <td class="px-4 py-2">
            {{ user.$createdAt ? (user.$createdAt | date: "dd/MM/yy") : "" }}
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</app-view>
