<app-view header="Users" class="h-full">
  <div class="h-full w-full overflow-x-auto">
    <p-table
      class="h-full min-w-full rounded-lg shadow-lg"
      [value]="filledUsers"
      [paginator]="true"
      [rows]="10"
      [rowsPerPageOptions]="[10, 20, 50, 100]"
      [scrollable]="true"
      scrollHeight="flex"
      styleClass="p-datatable-striped p-datatable-gridlines"
    >
      <ng-template pTemplate="header">
        <tr class="bg-gray-100">
          <th class="px-4 py-3 text-left font-semibold text-gray-700">Name</th>
          <th class="px-4 py-3 text-left font-semibold text-gray-700">Email</th>
          <th class="px-4 py-3 text-left font-semibold text-gray-700">Phone</th>
          <th class="px-4 py-3 text-left font-semibold text-gray-700">
            Last Login
          </th>
          <th class="px-4 py-3 text-left font-semibold text-gray-700">
            Joined At
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-user>
        <tr
          class="transition hover:bg-blue-50"
          [ngClass]="{ 'opacity-50': user.isPlaceholder }"
        >
          <td class="px-4 py-2">
            @if (!user.isPlaceholder) {
              <a
                class="font-medium text-blue-600"
                [routerLink]="['/admin/user', user.id]"
                [state]="{
                  user: user,
                }"
              >
                {{ user.name || "" }}
              </a>
            } @else {
              &nbsp;
            }
          </td>
          <td class="px-4 py-2">{{ user.email || "" }}</td>
          <td class="px-4 py-2">{{ user.phone || "" }}</td>
          <td class="px-4 py-2">
            {{ user.last_login ? (user.last_login | date: "dd/MM/yy") : "" }}
          </td>
          <td class="px-4 py-2">
            {{ user.created_at ? (user.created_at | date: "dd/MM/yy") : "" }}
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</app-view>
