<app-view header="Profile">
  <p-panel [toggleable]="true" class="w-full p-0">
    <ng-template pTemplate="header">
      <div class="text-gray-600">
        <span>User Info</span>
      </div>
    </ng-template>
    <!-- Panel content goes here -->
  </p-panel>
  <p-panel [toggleable]="true" class="w-full p-0">
    <ng-template pTemplate="header">
      <div class="text-gray-600">
        <span>Details</span>
      </div>
    </ng-template>
    <!-- Panel content goes here -->
  </p-panel>
</app-view>
