<div class="card-container">
    <p-card header="Employo" [style]="{ height: '100%', width: '250px'}">
        <div class="content">
            <a><span class="pi pi-user"></span>Profile</a>
            <a><span class="pi pi-calendar"></span>Attendance</a>
            <a><span class="pi pi-objects-column"></span>Leaves</a>
            <a><span class="pi pi-chart-bar"></span>Performance</a>
            <a><span class="pi pi-file"></span>Requests</a>
        </div>
        <div class="footer">
            <p-button label="Sign Out" icon="pi pi-sign-out" [text]="true" severity="danger" />
        </div>
    </p-card>
</div>