.card-container {
    height: 100%;
    padding: 1.5rem;
    z-index: 1000;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.content,
.footer {
    display: flex;
    justify-content: center;
}

.footer {
    padding-bottom: 1rem;
}

.content {
    flex-direction: column;
    overflow: scroll;
}

.content a {
    margin-bottom: 32px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    color: inherit;
    padding: 8px;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.content a:hover {
    background-color: #f0f0f0;
    color: #333;
}

.content a:active {
    background-color: #e0e0e0;
    color: #000;
}

:host ::ng-deep .p-card .p-card-body {
    height: 100%;
}

:host ::ng-deep .p-card .p-card-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-btn {
    display: none;
}

@media (max-width: 800px) {
    .card-container {
        height: 70%;
        padding: 0.5rem;
        transform: translateX(-100%);
        opacity: 0;
    }

    .menu-btn {
        display: flex;
        align-items: center;
        gap: 1rem;
        background-color: #ffffff;
        color: #4b5563;
        padding: .5rem;
    }

    .menu-btn h2 {
        font-size: 3rem;
        padding: 0;
        margin: 0;
    }

    .is-visible{
        transform: translateX(0);
        opacity: 1;
    }
}