@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

/* You can add global styles to this file, and also import other style files */
html,
body {
    height: 100%;
    margin: 0;
}

body {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    background-color: #f4f4f4;
    color: #333;
}