<div class="menu-btn">
  <p-button
    icon="pi pi-bars"
    variant="text"
    severity="contrast"
    size="large"
    (onClick)="toggle()"
  />
  <h1>DietAssist</h1>
</div>

<div class="card-container">
  <p-card header="DietAssist" [style]="{ height: '100%', width: '200px' }">
    <div class="flex flex-col overflow-scroll">
      @if (isAdmin) {
        <a
          routerLink="/admin"
          routerLinkActive="bg-gray-200 text-black"
          [routerLinkActiveOptions]="{ exact: true }"
          class="mb-4 flex cursor-pointer items-center gap-2 rounded p-2 text-inherit no-underline transition-colors duration-300 hover:bg-gray-100 hover:text-gray-800"
          ><span class="pi pi-cog"></span>Dashboard</a
        >
        <a
          routerLink="/admin/users"
          routerLinkActive="bg-gray-200 text-black"
          class="mb-4 flex cursor-pointer items-center gap-2 rounded p-2 text-inherit no-underline transition-colors duration-300 hover:bg-gray-100 hover:text-gray-800"
          ><span class="pi pi-users"></span>Users</a
        >
        <a
          routerLink="/admin/chats"
          routerLinkActive="bg-gray-200 text-black"
          class="mb-4 flex cursor-pointer items-center gap-2 rounded p-2 text-inherit no-underline transition-colors duration-300 hover:bg-gray-100 hover:text-gray-800"
          ><span class="pi pi-comments"></span>Chats</a
        >
        <a
          routerLink="/admin/appointments"
          routerLinkActive="bg-gray-200 text-black"
          class="mb-4 flex cursor-pointer items-center gap-2 rounded p-2 text-inherit no-underline transition-colors duration-300 hover:bg-gray-100 hover:text-gray-800"
          ><span class="pi pi-calendar"></span>Appointments</a
        >
      } @else {
        <a
          routerLink="/profile"
          routerLinkActive="bg-gray-200 text-black"
          class="mb-6 flex cursor-pointer items-center gap-2 rounded p-2 text-inherit no-underline transition-colors duration-300 hover:bg-gray-100 hover:text-gray-800"
        >
          <span class="pi pi-user"></span>Profile
        </a>
        <a
          routerLink="/diet-plan"
          routerLinkActive="bg-gray-200 text-black"
          class="mb-6 flex cursor-pointer items-center gap-2 rounded p-2 text-inherit no-underline transition-colors duration-300 hover:bg-gray-100 hover:text-gray-800"
          ><span class="pi pi-table"></span>Diet Plan</a
        >
        <a
          routerLink="/chat"
          routerLinkActive="bg-gray-200 text-black"
          class="mb-6 flex cursor-pointer items-center gap-2 rounded p-2 text-inherit no-underline transition-colors duration-300 hover:bg-gray-100 hover:text-gray-800"
          ><span class="pi pi-comments"></span>Chat</a
        >
        <a
          routerLink="/appointment"
          routerLinkActive="bg-gray-200 text-black"
          class="mb-6 flex cursor-pointer items-center gap-2 rounded p-2 text-inherit no-underline transition-colors duration-300 hover:bg-gray-100 hover:text-gray-800"
          ><span class="pi pi-calendar"></span>Schedule Appointment</a
        >
      }
    </div>
    <div class="flex flex-col items-center justify-center">
      <a
        routerLink="/profile"
        class="mb-2 flex cursor-pointer items-center gap-4 rounded p-2 text-inherit no-underline transition-colors duration-300 hover:bg-gray-100 hover:text-gray-800"
      >
        @if (isAdmin) {
          <p-overlay-badge
            class="inline-flex"
            badgeSize="small"
            severity="warn"
            value="A"
          >
            <p-avatar
              class="flex h-8 w-8 items-center justify-center rounded-full text-sm font-bold"
              size="normal"
              [label]="getInitials(user.name)"
              [style]="{
                background: getColor(user.name),
                color: '#222',
              }"
            />
          </p-overlay-badge>
        } @else {
          <p-avatar
            class="flex h-8 w-8 flex-shrink-0 items-center justify-center rounded-full text-sm font-bold"
            [label]="getInitials(user.name)"
            [style]="{
              background: getColor(user.name),
              color: '#222',
            }"
          />
        }
        <span class="max-w-[120px] truncate text-wrap align-middle">
          {{ user.name }}
        </span>
      </a>
      <p-button
        label="Sign Out"
        icon="pi pi-sign-out"
        [text]="true"
        severity="danger"
        (onClick)="signOut()"
      />
    </div>
  </p-card>
</div>
