<div class="menu-btn">
  <p-button
    icon="pi pi-bars"
    variant="text"
    severity="contrast"
    size="small"
    (onClick)="toggle()"
  />
  <h2>DietAssist</h2>
</div>

<div class="card-container">
  <p-card header="DietAssist" [style]="{ height: '100%', width: '200px' }">
    <div class="flex flex-col overflow-scroll">
      <a
        routerLink="/profile"
        routerLinkActive="bg-gray-200 text-black"
        class="no-underline mb-8 flex items-center gap-2 cursor-pointer text-inherit p-2 rounded transition-colors duration-300 hover:bg-gray-100 hover:text-gray-800"
      >
        <span class="pi pi-user"></span>Profile
      </a>
      <a
        routerLink="/attendance"
        routerLinkActive="bg-gray-200 text-black"
        class="no-underline mb-8 flex items-center gap-2 cursor-pointer text-inherit p-2 rounded transition-colors duration-300 hover:bg-gray-100 hover:text-gray-800"
        ><span class="pi pi-calendar"></span>Attendance</a
      >
      <a
        routerLink="/leaves"
        routerLinkActive="bg-gray-200 text-black"
        class="no-underline mb-8 flex items-center gap-2 cursor-pointer text-inherit p-2 rounded transition-colors duration-300 hover:bg-gray-100 hover:text-gray-800"
        ><span class="pi pi-briefcase"></span>Leaves</a
      >
      <a
        routerLink="/performance"
        routerLinkActive="bg-gray-200 text-black"
        class="no-underline mb-8 flex items-center gap-2 cursor-pointer text-inherit p-2 rounded transition-colors duration-300 hover:bg-gray-100 hover:text-gray-800"
        ><span class="pi pi-chart-bar"></span>Performance</a
      >
      <a
        routerLink="/requests"
        routerLinkActive="bg-gray-200 text-black"
        class="no-underline mb-8 flex items-center gap-2 cursor-pointer text-inherit p-2 rounded transition-colors duration-300 hover:bg-gray-100 hover:text-gray-800"
        ><span class="pi pi-file"></span>Requests</a
      >
    </div>
    <div class="flex justify-center pb-4">
      <p-button
        label="Sign Out"
        icon="pi pi-sign-out"
        [text]="true"
        severity="danger"
      />
    </div>
  </p-card>
</div>